

div{
    position: sticky;
    top:0.2px;
    display: inline-block;
    width: 350px;
}
#name {
    font: weight 500;
    margin-right: 70px;
}
#name::before{
    content: "\1F468";
}
li{
    list-style: none;
    margin: 20px;
    border-bottom:2px solid lightsalmon ;
    display: inline-block;
}
#phone::before{
    content:"\1F4DE" ;
}
h1::before{
    content: "\1F4D3";
}
h1{
    text-align:center;
    padding: 15px;
}
* {
    background-color: rgb(243, 225, 211);
    text-align: center;
}
div:nth-of-type(2n+1) {
    border:2px solid lightsalmon;
    background-color: #aff7cf;
    font-size: 30px;
    margin:20px;
    border-radius:20px;
  }
  
  div:nth-of-type(2n) {
    border:2px solid lightsalmon;
    background-color: #c8ecd5;
    font-size: 30px;
    margin:20px;
    border-radius:20px;
  }
  
  